/* Image Container */
.image-container {
    position: relative;
    margin-top: 20px;
    width: 450px;
}


.image-container {
    position: relative;
    margin-top: 20px;
    right: 0%;
    width: 450px;
}

.ANSW {
    display: flex;
    width: 850px;
    position: relative;
    right: 25%;
    padding: 5px;
}

.ANSW img{
    flex: .5;
    width: 10px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
}
.ANSW p {
    padding: 15px;

}